<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse" style="background-color: black;">
			<a href="/" class="navbar-brand">My Site</a>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="/about">Home</a></li>
				<li><a href="/contact">Home</a></li>
				<li><a href="#">Home</a></li>
			</ul>
		</nav>
	</header>

<!-- MAIN CONTENT HERE, ESJ syntax below-->
<%- defineContent('hero') %>
<%- defineContent('body') %>
</body>
</html>